@import "common";

body {
  @include flex(column);

  min-height: 100vh;
  margin: 0;

  background: #fff;

  word-break: break-word;
  word-wrap: break-word;
}

a {
  -webkit-tap-highlight-color: transparent;
}
